<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=Date]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
</head>
<body>

<h2>Upload Your Design</h2>
<p>Click on each button  to open  each form.</p>

<button class="open-button" onclick="openHomepageDesign()">Design Home</button>
<div class="form-popup" id="myForm1">
   <form action="/create_blog" method="post" enctype="multipart/form-data">
    <div> 
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
    </div>
        <button type="submit">Add Blog</button>
        <button type="button" class="btn cancel" onclick="closeHomepageDesign()">Close</button>
    </form>
  </div>
<button class="open-button" onclick="openGalleryDesign()">Design Gallery</button>
<div class="form-popup" id="myForm2">
  <form method="POST" action="/upload-for-gallery" enctype="multipart/form-data">
    <div>
    	<label for="date">Date</label>
        <input type="date" name="date" placeholder="15/04/2020" id="date">
    	<label for="title">memory</label>
        <input type="text" name="title" id="title">
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
    </div>
    
        <button type="submit" name="upload-for-gallery">upload-for-gallery</button>
        <button type="button" class="btn cancel" onclick="closeGalleryDesign()">Close</button>
    </form>
</div>
<button class="open-button" onclick="openNoticeDesign()">Put Notice</button>
<div class="form-popup" id="myForm3">
  <form method="POST" action="/upload-for-notice" enctype="multipart/form-data">
    <div>
    	<label for="date">Date</label>
        <input type="date" name="date" placeholder="15/04/2020" id="date">
    	<label for="title">Today's notice</label>
        <input type="text" name="title" id="title">
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
    </div>
    
        <button type="submit" name="upload-for-notice">upload-for-notice</button>
        <button type="button" class="btn cancel" onclick="closeNoticeDesign()">Close</button>
   </form>
  </div>
  <button class="open-button" onclick="openFormsDesign()">Upload-Any-Form</button>
  <div class="form-popup" id="myForm4">
  <form method="POST" action="/upload-any-file" enctype="multipart/form-data">
    <div>
    	<label for="file">Upload-Forms</label>
        <input type="file" name="file" placeholder="Registration form" id="file">
    </div>
    
        <button type="submit" name="upload-any-file">Upload-Forms</button>
        <button type="button" class="btn cancel" onclick="closeFormsDesign()">Close</button>
   </form>
  </div>
  
  <script>
function openHomepageDesign() {
  document.getElementById("myForm1").style.display = "block";
}

function closeHomepageDesign() {
  document.getElementById("myForm1").style.display = "none";
}
function openGalleryDesign() {
  document.getElementById("myForm2").style.display = "block";
}

function closeGalleryeDesign() {
  document.getElementById("myForm2").style.display = "none";
}
function openNoticeDesign() {
  document.getElementById("myForm3").style.display = "block";
}

function closeNoticeDesign() {
  document.getElementById("myForm3").style.display = "none";
}
function openFormsDesign() {
  document.getElementById("myForm4").style.display = "block";
}

function closeFormsDesign() {
  document.getElementById("myForm4").style.display = "none";
}
</script>
</body>

</html>