<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <title>Welcome to Samashraya</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="views/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="views/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="views/css/style.min.css" rel="stylesheet">
  <style type="text/css">
    .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
   }
  </style>
</head>

<body class="grey lighten-3">
<main class="mt-5 pt-5" > 
 <div class="container">

    
  <!-- Full Page Intro -->
  <div class="view full-page-intro"style="background-image: url('https://res.cloudinary.com/samasray/image/upload/v1606717214/FB_IMG_1606452571447-01_1_qxtzpn.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4 white-text text-center text-md-left">

            <h1 class="display-4 font-weight-bold">Contact Us</h1>

            <hr class="hr-light">

            <p>
              <strong>Email:<a  target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=samashrayatrust@gmail.com&su=SUBJECT&body=BODY&tf=1"> samashrayatrusyt@gmail.com</a></strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>Call US:</strong><br>
              <a>+91 9332932224 </a><br>
              <a>+91 9332211605 </a><br>
            </p>

            <a href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-primary btn-group-lg">Find Us
             
            </a>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body">

                <!-- Form -->
                <form name="contact" action="/email" method="post" enctype="multipart/form-data">
                  <!-- Heading -->
                  <h3 class="dark-grey-text text-center">
                    <strong>Write to Us:</strong>
                  </h3>
                  <hr>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" name="email" id="form3" class="form-control">
                    <label for="form3">Your email</label>
                  </div>
                  <div class="md-form">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" name="subject" id="form2" class="form-control">
                    <label for="form2">Subject</label>
                  </div>
                 <div class="md-form">
                  <div class="form-group">
                    <label for="form8">Your Message:</label>
                    <textarea name ="message"class="form-control" rows="5" id="form8"></textarea>
                 </div>
               </div>

                  <div class="text-center">
                    <button class="btn btn-primary" type ="submit">Send</button>
                    <hr>
                  </div>

                </form>
                <!-- Form -->

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->
 </div>
 
</main>




  
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="views/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="views/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="views/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="views/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>



